.c-control {
  display: inline-block;
  border: 1px solid $gb-color-component-dark;
  padding: 2px 7px;
  color: $gb-color-text;
  font-size: 10px;
  text-transform: uppercase;
  margin-right: 20px;

  &__content {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
}
