.agent-type2 {
  @extend %agents-list__item;

  &__link {
    @extend %agents-list__link;
  }

  &--disabled {
    color: $gb-color-component-dark;

    .agent-type2__link {
      color: $gb-color-component-dark;
    }
  }

  &__toggle {
    @extend .gc-btn;
    @extend .gc-btn--primary;
    @extend .gc-btn--small;

    margin-left: 10px;
  }

  &__icon {
    &--alert {
      color: $color-roman;
    }
  }
}
