.current-panel {
  @extend .gc-panel;
  @extend .gc-panel--separator;

  &__title {
    @extend .gc-panel__title;
  }

  &__annotate {
    color: $color-silver;
  }
}

.state {
  &__item {
    margin-left: 10px;
    margin-bottom: 7px;
  }

  &__status {
    display: inline-block;
    line-height: 20px;
    margin-right: 7px;
  }

  &__name {
    display: inline-block;
    line-height: 20px;
  }

  &__ok {
    @extend .gc-led;
    @extend .gc-led--green;

    width: 20px;
    height: 20px;
  }

  &__alert {
    @extend .gc-led;
    @extend .gc-led--red;
    @extend .gc-led--blink;

    width: 20px;
    height: 20px;
  }
}
