{{define "navigation"}}
<header class="shp-header">
    <a class="shp-header__logo" href="/">
        SH-PANEL
    </a>
    <nav class="shp-header__navigation">
        <ul class="gc-navigation">
            {{if not .IsLogged}}
            <li class="gc-navigation__option"
                role="presentation">
                <a class="gc-navigation__link gc-link" href="/login">
                    Login
                </a>
            </li>
            {{end}}
            {{if .IsLogged}}
            <li class="gc-navigation__option">
                <a class="gc-navigation__link gc-link" href="/">
                    Dashboard
                </a>
            </li>
            {{end}}
            {{if and .IsLogged .IsAdmin}}
            <li class="gc-navigation__option">
                <a class="gc-navigation__link gc-link" href="/admin">
                    Admin
                </a>
            </li>
            {{end}}
            {{if .IsLogged}}
            <li class="gc-navigation__option"
                role="presentation">
                <a class="gc-navigation__link gc-link" href="/login/logout">
                    Logout
                </a>
            </li>
            {{end}}
        </ul>
    </nav>
</header>
<section class="splash">

</section>
{{end}}
