$color-pippin: #ffe2e0;
$color-watusi: #ffd4cc;
$color-persimmon: #ff7157;

.agents-status {
  @extend .gc-panel;
  @extend .gc-panel--separator;

  &__error {
    margin-bottom: 10px;
    color: $color-persimmon;
    background: $color-pippin;
    border: 1px solid $color-watusi;
    padding: 10px;
  }

  &__section {
    @extend .gc-panel;
    @extend .gc-panel--separator;

    padding-bottom: 10px;
  }

  &__title {
    @extend .gc-panel__title;
  }
}

@import "./List/styles";
@import "./ControlPanel/styles";
