.alert-panel {
  position: fixed;
  right: $spacing-large;
  bottom: $spacing-large;

  &__alert {
    @extend .gc-alert;

    @include gx-phone() {
      width: 200px;
    }

    @include gx-tablet() {
      width: 350px;
    }

    @include gx-desktop() {
      width: 350px;
    }

    margin-bottom: $spacing-small;
    opacity: 1;
    transition: opacity 2s;

    &.show {
      opacity: 0;
    }

    &.hide {
      display: none;
    }

    &--info {
      @extend .gc-alert--success;
    }

    &--error {
      @extend .gc-alert--danger;
    }
  }
}
